body {
    margin: 2%;
    padding: 0;
    border: 0;
    background-color: #ecf0f1;
    vertical-align: top;
}

.header {
    background-color: #8e44ad;
  height: 100%;
  outline: 1px solid black;
  text-align: center;

};
h1{
   color: black;
  text-shadow: 1px 1px 1px black;
}
div.userInfo{
  color: black
}
.answer {
    width: 50%;
    background-color: #bdc3c7;
    outline: 1px solid black;
    text-align: center;
     float: left;
    

}
h3{
  color: deepblue;
  padding-left: 10px;
  }