body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #dceb13;
}
.header {
    background-color: #2121df;
}
.tag {
    width: 24%;
    float: left;
    background-color: #1de016;
    border: 1px solid black;
}
